<h1>Edit Event</h1>

<%= form_with model: @event do |f| %>
  <div>
    <%= f.label :date %>
    <%= f.datetime_field :date %>
  </div>

  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.submit "Update Event" %>
  </div>
<% end %>